<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>FullStack Blog</title>
</head>
<body>
    <nav class="navbar is-warning">
        <div class="container">
            <div class="navbar-brand">
                <img src="https://i.imgur.com/ZKGlBqS.png" width="170" height="28">
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
      
            <div class="navbar-menu is-info">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Homepage
                </a>
          
                <a class="navbar-item" href="/dashboard">
                  Dashboard
                </a>
                {{#if logged_in}}
                <a class="navbar-item" href="/logout">
                  Logout
                </a>
                {{else}}
                <a class="navbar-item" href="/login">
                  Login
                </a>
                <a class="navbar-item" href="/signup">
                Sign Up</a>
                {{/if}}
              </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container is-flex is-justify-content-center">
          
          {{{body}}}

        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>