<div style="width: 808px; margin-top: 20px;" class="notification is-warning is-light is-flex is-justify-content-center">
  <p class="title has-text-justified" style="margin: 10px, 10px;">
    <br>
      Sorry, we couldn't find that page for you!
  </p>
            
  <figure class="image is-128x128">
    <img src="https://i.imgur.com/Ls0JQmQ.png">
  </figure>
</div>